:root {
  --color-black: #282c34;
  --color-gray: #616161;
  --color-white: #ededed;
  --color-teal: #008080;
  --color-coral: #ff6f61;

  --color-green: rgb(49, 245, 49);
  --color-red: rgb(248, 56, 56);
}
