@import '../../styles/vars.scss';

.side-bar {
  height: 100vh;
  width: 10%;
  min-width: 150px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12pt;
  box-shadow: 8px 0 5px -2px #888;

  &__header {
    font-size: 24pt;
    margin-top: 25px;
    color: var(--color-white);

    img {
      max-width: 150px;
    }
  }

  &__nav {
    &-item {
      color: var(--color-white);
      padding: 10px 40px;
      font-weight: bold;

      &:hover {
        background-image: linear-gradient(rgba(49, 245, 49, 0.3) 0 0);
        cursor: pointer;
      }
    }
  }

  &__footer {
    margin-bottom: 25px;
    font-size: 8pt;
  }
}
